

.footer {
  @apply flex justify-between h-8 md:h-14 items-center font-semibold relative z-20;
}
.left, .right {
  @apply md:text-[40px] text-[24px] relative h-full;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.left:hover, .right:hover {
  color: rgb(37 99 235);
  -webkit-text-fill-color: rgb(37 99 235);
}

.left span:nth-child(1) {
  @apply mr-2 align-middle;
  position: absolute;
  top: 0;
  left: 0px;
  transition: all .3s;
}

.left span:nth-child(2) {
  @apply md:left-40 left-28;
  transition: all .3s;
  position: absolute;
  
}

.left:hover span:nth-child(1) {
  @apply md:left-10 left-6;
}

.left:hover span:nth-child(2) {
  @apply left-0;
}


/* 右侧部分 */

.right span:nth-child(1) {
  @apply md:right-96 right-56 align-middle;
  position: absolute;
  top: 0;
  transition: all .3s;
}

.right span:nth-child(2) {
  @apply md:right-4 -right-4 align-middle;
  position: absolute;
  top: 0;
  transition: all .3s;
}

.right:hover span:nth-child(1) {
  @apply md:right-0 -right-4;
}

.right:hover span:nth-child(2) {
  @apply md:right-12 right-2;
}


/* 中间部分 - 版权 */

.copyrightone {
  @apply absolute hidden md:block md:text-[14px] text-[8px];
  top: 38%;
  left: 38%;
}

.copyrighttwo {
  @apply md:hidden flex justify-center items-center text-[8px] font-semibold;
}
