.main {
  @apply min-h-screen bg-black text-white;
}

.nav::after {
  position: absolute;
  content: '';
  background-color: white;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform: scale(1, 0.5);
}

.title {
  @apply md:text-3xl font-normal px-12 tracking-wider text-white tracking-widest;
}

.textContent {
  @apply fixed bottom-32 right-12 text-right md:text-7xl text-4xl;
}

.imgContent {
  @apply mx-12 pt-28 z-[100];
}

/* .imgContent img {
  transition: all 0.5s;
}

.imgContent img:hover {
  width: 100%;
  height: 150%;
} */
