.footer {
  @apply flex justify-between h-8 md:h-14 items-center font-semibold relative;
}

.right {
  @apply md:text-[40px] text-[24px] relative h-full;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.right:hover {
  color: rgb(37 99 235);
  -webkit-text-fill-color: rgb(37 99 235);
}

.right span:nth-child(1) {
  @apply left-0 align-middle;
  position: absolute;
  top: 0;
  transition: all .3s;
}

.right span:nth-child(2) {
  @apply md:left-8 left-6;
  transition: all .3s;
  position: absolute;
}

.right:hover span:nth-child(1) {
  @apply md:left-96 left-56;
}

.right:hover span:nth-child(2) {
  @apply left-0;
}

.copyrightone {
  @apply absolute hidden md:block md:text-[14px] text-[8px];
  top: 38%;
  right: 38%;
}

.copyrighttwo {
  @apply md:hidden flex justify-center items-center text-[8px] font-semibold;
}
