.prixlogos {
  @apply text-white bg-black flex flex-col justify-between;
  min-height: 130vh;
}

.title {
  @apply flex flex-col relative z-10 w-full text-blue-600 cursor-pointer;
  width: 90%;
}

.active {
  @apply text-white;
  background-color: rgb(0, 88, 248);
}

.item {
  @apply relative;
}

.item > span {
  
}

.item > span:nth-child(1) {
  @apply md:text-7xl text-3xl;
}

.item > span:nth-child(2) {
  @apply text-base;
  left: 0;
  bottom: 0;
}

.item:hover span:nth-child(1) {
  @apply text-base md:translate-y-16 translate-y-10;
  transition: all .7s;
}

.item:hover span:nth-child(2) {
  @apply md:text-7xl text-3xl md:-translate-y-8 -translate-y-6;
  transition: all .7s;
}

.rightBox {
  @apply flex-1 h-screen relative;
  /* @apply absolute -top-48; */
  /* @apply absolute; */
}

.rightBox img {
  /* height: 1000px; */
}