.contact {
  @apply h-screen bg-neutral-200 flex flex-col text-black;
}

.tipsText {
  position: absolute;
  bottom: 5rem;
  left: 50px;
}

.imageBox {
  @apply absolute;
}

.content {
  @apply flex px-12 md:flex-row flex-1 md:justify-between relative;
}

.left {
  @apply flex flex-col justify-evenly;
}

.right {
  @apply h-full absolute -right-20;
  /* bg-[url(/images/contact/maisonedesign-2.png)] */
}

.rightText {
  @apply mb-12 md:text-5xl text-4xl font-bold text-blue-600 md:absolute md:bottom-32 md:ml-0 ml-8 -left-48;
}