.japonais {
  @apply flex flex-col items-center min-h-screen w-full bg-black text-white;
}

.title {
  @apply flex justify-center my-8 md:text-[32px] text-[20px] font-bold tracking-wider;
}

.title > div {
  @apply md:text-[24px] text-[16px] flex items-center ml-4 font-normal;
}

.content {
  @apply flex flex-row max-w-[980px];
}

.contentItem {
  flex: 1;
  margin: 30px;
}

.contentItem img{
  width: 100%;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
.contentItem img:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 3px 2px 1px #999;
}