.projectMenu {
  @apply w-full h-screen flex flex-col relative;
}

.head {
  @apply flex flex-row;
}

.headLeft {
  @apply w-5/12;
}

.infos {
  @apply flex items-start md:text-[42px] text-2xl ml-10 font-bold flex items-center md:ml-20 ml-0;
}

.other {
  @apply flex-1 flex flex-col justify-between tracking-wider;
}

.menu {
  @apply pl-12 md:mt-0 mt-4 md:h-full h-4/5 flex md:items-end items-start md:w-5/12 w-full;
}

.menu li {
  @apply cursor-pointer relative;
  cursor: pointer;
  width: 100%;
}

.menu li.active {
  z-index: 2;
  color: white;
}

.menu li.active:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -3rem;
  width: 125%;
  padding-left: 3rem;
  height: 100%;
  z-index: -1;
  background-color: rgb(0, 88, 248);
}

.menu li > div:nth-child(1) {
  @apply md:text-[32px] text-[20px] font-bold;
}
.menu li > div:nth-child(2) {
  @apply md:text-[22px] text-[16px] font-extrabold mb-2;
}

.imageOrigin {
  @apply flex-1 w-full h-full;
}

.contentRight {
  @apply w-full h-full p-10 relative;
}

.navigation {
  @apply fixed text-white w-full bg-black z-50 flex flex-col h-screen;
}

.nav {
  @apply px-12 pt-4;
  border-bottom: 1px solid white;
}

.item {
  @apply flex justify-between px-12 md:text-4xl text-xl pt-2 font-semibold tracking-wider;
  border-bottom: 1px solid white;
}


.copyright {
  @apply flex justify-center py-9 md:text-[16px] text-[12px];
}

.backImage {
  @apply w-full h-full absolute;
}


.tamponBox {
  @apply w-full h-full flex items-center;
}

/*  底部右侧 部分  */
.bottomRight {
 @apply absolute bottom-6 right-0 flex items-center justify-between w-full;
}

.noncontacter {
  @apply relative md:text-[40px] text-[24px];
}

.noncontacter {
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}


.noncontacter:hover {
  color: rgb(37 99 235);
  -webkit-text-fill-color: rgb(37 99 235);
}

.noncontacter > span:nth-child(1) {
  @apply absolute -bottom-4 md:right-96 right-60;
  transition: all .3s;
}

.noncontacter > span:nth-child(2) {
  @apply absolute -bottom-4 right-2;
  transition: all .3s;
}

.noncontacter:hover span:nth-child(1) {
  @apply right-2;
}

.noncontacter:hover span:nth-child(2) {
  @apply right-12;
}


/*    底部左侧部分    */
.bottomLeft {
  @apply mb-24 mt-6 md:text-[40px] text-[24px] md:flex hidden;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.bottomLeft:hover {
  color: rgb(37 99 235);
  -webkit-text-fill-color: rgb(37 99 235);
}
.bottomLeft > span:nth-child(1) {
  @apply absolute left-14 bottom-4;
  transition: left .3s;
}

.bottomLeft > span:nth-child(2) {
  @apply absolute left-56 bottom-4;
  transition: left .3s;
}

.bottomLeft:hover > span:nth-child(1) {
  @apply absolute left-24;
}

.bottomLeft:hover > span:nth-child(2) {
  @apply absolute left-12;
}

@media(max-width: 650px) {
  .headLeft {
    background: black !important;
    color: white;
  }
  .headRight {
    background: black !important;
  }
  /* .other {
    min-height: 120vh;
  } */
}

