.container {
  @apply flex flex-col items-center min-h-screen w-full bg-black text-white;
}

.logo {
  @apply fixed bottom-40 md:right-36 right-12;
}

.title {
  @apply flex justify-center my-8 md:text-[32px] text-[20px] font-bold tracking-wider;
}

.title > div {
  @apply md:text-[24px] text-[16px] flex items-center ml-4 font-normal;
}

.content {
  @apply flex md:flex-row flex-col justify-start;
}

.contentItem {
  margin: 0 30px;
}

.contentItem img{
  @apply w-[450px];
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
